        body,
        html {
            background-color: #daebff;
        }
        
        .myaccount-card {
            border: solid 1px black;
            height: 5rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        
        .mycard-title {
            overflow: hidden;
            max-height: 100%;
        }
        
        .mycard-price {
            max-height: 100%;
            overflow: hidden;
        }
        
        .mycard-date {
            max-height: 200%;
            overflow: hidden;
        }
        
        .separation-div {
            border-bottom: solid 1px black;
            margin-bottom: 1rem;
        }
        
        .myaccount {
            background-color: #daebff;
            margin: 0;
            padding: 0;
        }
        
        .container {
            margin: 0;
            padding: 0;
        }
        
        .left_div {
            background-color: #835F81;
            border-style: groove;
            border-color: white;
        }
        
        .myaccount-card-top {
            border: 0px;
            padding: 0;
            margin: 0;
            height: 3rem;
            white-space: nowrap;
        }
        
        .btn_guzik {
            border-radius: 4px;
            background-color: #ffc107;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        
        .btn_guzik span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .btn_guzik span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        
        .btn_guzik:hover span {
            padding-right: 25px;
        }
        
        .btn_guzik:hover span:after {
            opacity: 1;
            right: 0;
        }
        
        .container_comments {
            background: #daebff;
        }
        
        .container_row h3 {
            display: flex;
            justify-content: center;
            text-decoration-style: italic;
        }
        
        .container_comments {
            background: #FFFFFF;
            padding: 5%;
            border-radius: 20px;
        }
        
        #komentarz {
            padding-left: 80%;
            white-space: nowrap;
        }
        
        #komentarz_linia_pod {
            padding-left: 75%;
            white-space: nowrap;
        }
        
        .class_button {
            margin: auto;
            width: 80%;
            padding: 10px;
        }

        .container_tatratee{
            margin-left: -35px;
            margin-right: 32px;
        }