.card-body,
.card {
    margin: 0;
    padding: 0;
}

.card {
    width: 20rem;
    height: 28rem;
    margin: 1.5rem;
    border: 1px;
    border-color: #835F81;
    border-style: solid;
    background-color: white;
}

.card-body {}

.card-title {}

.bottom_div {
    width: 100%;
    height: 40%;
    /* background-color: rgb(57, 149, 255); */
    /*tu był yellow  */
}

.list-group,
.list-group-flush {
    margin: 0;
    padding: 0;
}

.list-group-item {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(195, 195, 195);
    background-color: #DAEBFF;
}

.top_div {
    /* background-color: rgb(255, 163, 26); */
    width: 100%;
    height: 60%;
    border-bottom: 2px;
    border-bottom: #835F81;
    border-bottom: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side {
    width: 50%;
    height: 100%;
    margin: 1rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-side {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    margin-top: -110px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.card-bottom {
    display: flex;
    justify-content: space-evenly;
}


/* .avatar {
    height: 156px;
    width: 156px;
} */