/* .btn {
    border-color: white;
    color: white;
}

.btn:hover {
    border-color: var(--bs-body-color);
    color: var(--bs-body-color);
} */

.card a {
    all: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: contents;
}

.pole_szukania {
    width: 110%;
}

.zaloguj {
    padding-right: 6%;
}

.nav-item {
    font-weight: bold;
}

.przycisk:hover {
    background-color: primary;
    color: white;
}

.kontener-napis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zaloguj ul li a {
    color: white;
}

.nav {
    background-color: #0d6efd;
}