<div class="modal-xl modal position-fixed" id="account_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Szczegóły</h5>
                <button type="button" class="btn-close" id="enlarged-close" aria-label="Close"></button>
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body edit-account-form ">
                <div class="modal-body login_screen">


                    <form>
                        <div class="container-flex row">
                            <!-- Imie  -->
                            <div class="form-outline mb-4 col-sm ">
                                <input type="text" class="form-control" value="{{account_data['name']}}" />
                            </div>


                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>