<div class="modal-md modal position-fixed" id="account_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Szczegóły</h5>
                <button type="button" class="btn-close" id="acc-edit-close" aria-label="Close"></button>
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body edit-account-form ">
                <div class="modal-body login_screen">


                    <form action="edit_acc" method="post" name="_PUT">
                        <div>
                            <!-- Name  -->
                            <div class="form-outline mb-1">
                                <span>Imię:</span>
                                <input type="text" name="name" class="form-control" value="{{account_data['name']}}" />
                            </div>

                            <!-- Surname -->
                            <div class="form-outline mb-1">
                                <span>Nazwisko: </span>
                                <input type="text" name="surname" class="form-control" value="{{account_data['surname']}}" />
                            </div>

                            <!-- Degree_course -->

                            <div class="form-outline mb-1">
                                <span>Kierunek: </span>
                                <input type="text" name="degree_course" class="form-control" value="{{account_data['degree_course']}}" />
                            </div>


                            <!-- Semester -->
                            <div class="form-outline mb-1">
                                <span>Semestr:</span>
                                <input type="text" name="semester" class="form-control" value="{{account_data['semester']}}" />
                            </div>

                            <!-- E-mail   -->
                            <div class="form-outline mb-1">
                                <span>E-mail:</span>
                                <input type="text" name="email" class="form-control" value="{{account_data['email']}}" />
                            </div>

                            <!-- Phone  -->
                            <div class="form-outline mb-1">
                                <span>Numer telefonu:</span>
                                <input type="text" name="phone" class="form-control" value="{{account_data['phone']}}" />
                            </div>

                            <div class="class_button">
                                <button type="submit" class="btn btn-warning btn_edit_date" id="edit-acc-btn">Zmień dane</div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>