<div class="modal" id="ann_add_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj ogłoszenie</h5>
                <button type="button" class="btn-close" id="enlarged-close" aria-label="Close"></button>
                <span aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <!-- tu był div z colem -->
                <form action="/add_ann" style="width: 100%" method="post">

                    <!-- TITLE -->
                    <div class="ann-element"><span>Tytuł:&nbsp;</span> <input type="text" name="title" id="ann_title"
                                                                              value="" placeholder="Brak danych"
                                                                              required>
                    </div>
                    <!-- CONTENT -->

                    <div class="ann-element"><span>Opis: </span>
                        <textarea class="form-control" id="comment" name="comment" rows="5" cols="50"
                                  placeholder="Brak danych"
                                  required></textarea>
                    </div>

                    <div class="row ms-1">

                        <div class="col-6 ann-element ">
                            <!-- PRICE -->
                            <span>Cena:&nbsp;</span>
                            <input type="number" id="ann_price" name="price" value="0" placeholder="Brak danych"
                                   required>
                        </div>


                        <div class=" col-4 ann-element">

                            <!-- CHECKBOX -->

                            <span>Do negocjacji?&nbsp;</span>
                            <input type="checkbox" id="ann_neg" name="neg">

                        </div>
                    </div>

                    <!-- DEGREE-COURSE -->
                    <div class="ann-element"><span>Kierunek:&nbsp;</span>
                        <select name="degree_course" id="degree_course">
                            <option value="" selected="selected">Wybierz kierunek</option>
                        </select>
                    </div>

                    <!-- SEMESTER -->
                    <div class="ann-element"><span>Semestr:&nbsp;</span>
                        <select name="semester" id="semester">
                            <option value="" selected="selected">Najpierw wybierz kierunek</option>
                        </select>
                    </div>

                    <!-- SUBJECT -->
                    <div class="ann-element"><span>Przedmiot:&nbsp;</span>
                        <select name="subject" id="subject">

                            <option value="" selected="selected">Najpierw wybierz semestr</option>

                        </select>
                    </div>


                    <div class="ann-element">
                        <button class="btn-warning btn" type="submit">Dodaj</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script id="chained_select">
    degree_courseSel = document.getElementById("degree_course");
    subjectSel = document.getElementById("subject");
    semesterSel = document.getElementById("semester");
    subjectObject =
    {{ subjects|safe }}
</script>


