<div class=" modal " id="annoucement_home_page_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edytuj ogłoszenie</h5>
                <button type="button" class="btn-close" id="enlarged-close" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <!-- tu był div z colem -->
                <form action="/edit_ann" method="post">

                    <!-- Hidden ID -->
                    <input type="hidden" name="id" value="{{ a['id'] }}">

                    <!-- TITLE -->
                    <div class="ann-element"><span>Tytuł: </span> <input type="text" name="title" id="ann_title"
                                                                         value="{{ a['title'] }}"
                                                                         placeholder="Brak danych">
                    </div>

                    <!-- CONTENT -->
                    <div class="ann-element"><span>Opis: </span>
                        <textarea class="form-control" id=" comment" name="content" rows="5" cols="50"
                                  placeholder="Brak danych">{{ a['content'] }}</textarea>
                    </div>

                    <!-- PRICE AND NEGOTIATION -->
                    <div class="row ms-1">
                        <div class="col-6 ann-element ">
                            <span>Cena:</span>
                            <input type="number" id="ann_price" name="price" value="{{ a['price'] }}"
                                   placeholder="Brak danych">
                        </div>

                        <!-- CHECKBOX -->
                        <div class=" col-4 ann-element">

                            <span>Do negocjacji?</span> {% if a['is_negotiable'] %}
                            <input type="checkbox" name="neg" id="ann_neg" checked> {% else %}
                            <input type="checkbox" name="neg" id="ann_neg"> {% endif %}
                        </div>
                    </div>

                    <!-- DEGREE-COURSE -->

                    <div class="ann-element"><span>Kierunek: </span>
                        <select name="degree_course" id="edit_degree_course"></select>
                    </div>

                    <!-- SEMESTER -->
                    <div class="ann-element"><span>Semestr: </span>
                        <select name="semester" id="edit_semester"></select>
                    </div>

                    <!-- SUBJECT -->
                    <div class="ann-element"><span>Przedmiot: </span>
                        <select name="subject" id="edit_subject"></select>
                    </div>

                    <!-- BUTTON SUMBIT -->
                    <div class="ann-element ">
                        <button type="submit" class="btn btn-warning">Edytuj</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script id="edit_chained_select">
    degree_courseSel = document.getElementById("edit_degree_course");
    subjectSel = document.getElementById("edit_subject");
    semesterSel = document.getElementById("edit_semester");
    subjectObject =
        {{ subjects|safe }}
        selected = ["{{ a[ 'degree_course'] }}", "{{ a[ 'semester'] }}", "{{ a[ 'subject'] }} "]
</script>