<nav class="navbar navbar-fluid navbar-light menu" style="background-color:#3995ff">
    <!-- logo -->
    <a class="navbar-brand" href="/1"> Tutor-app</a>

    <!-- add annoucement -->
    {% if 'username' in account_data.keys() %}
    <div class="zaloguj">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a class="nav-link" id="add_ann_btn" href="#">
            Dodaj ogłoszenie
        </a>
            </li>
        </ul>
    </div>
    {% endif %}

    <!-- search bar -->
    <form action="/1" , method="post">
        <div class="row">
            <div class="col-8">
                <input class="form-control pole_szukania" name="filter" type="search" placeholder="Szukaj" aria-label="Search">
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-light przycisk">Szukaj</button>
            </div>
        </div>
    </form>

    <!-- user name, surname -->
    {% if 'username' in account_data.keys() %}
    <div class="zaloguj">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a class="nav-link" id="profil-button" href="/account/{{account_data['username']}}">
                    {{ account_data['name']|capitalize }} {{ account_data['surname']|capitalize }}
                </a>
            </li>
        </ul>
    </div>
    {% endif %}



    <!-- login/logout -->
    <div class="zaloguj">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if 'username' in account_data.keys() %}
                <a class="nav-link" id="logout-button" href="/logout">
                    Wyloguj się
                </a> {% else %}
                <a class="nav-link" id="login-button" href="#">
                    Zaloguj się
                </a> {% endif %}
            </li>
        </ul>
    </div>

</nav>

<!-- login/register modal -->
<div id="login_page"></div>